/*
		_helper.scss	
*/




@for $i from 0 through 10 {
	.box-#{10*$i} { 
		width: 10*$i+%;
		float: left;
	}
}

//-----------------------------PADD
@for $i from 0 through 24 {
	.p-h-#{5*$i} { 
		padding-left: 5*$i+px;
		padding-right: 5*$i+px;}}

@for $i from 0 through 30 {
	.p-v-#{5*$i} { 
		padding-top: 5*$i+px;
		padding-bottom: 5*$i+px;}}

@for $i from 0 through 30 {
	.p-t-#{5*$i} { 
		padding-top: 5*$i+px;}}

@for $i from 0 through 30 {
	.p-b-#{5*$i} { 
		padding-bottom: 5*$i+px;}}

@for $i from 0 through 30 {
	.p-l-#{5*$i} { 
		padding-left: 5*$i+px;}}

@for $i from 0 through 30 {
	.p-r-#{5*$i} { 
		padding-right: 5*$i+px;}}

//------------------------MARG
@for $i from 0 through 30 {
	.m-h-#{5*$i} { 
		margin-left: 5*$i+px;
		margin-right: 5*$i+px;}}

@for $i from 0 through 30 {
	.m-v-#{5*$i} { 
		margin-top: 5*$i+px;
		margin-bottom: 5*$i+px;}}

@for $i from 0 through 30 {
	.m-t-#{5*$i} { 
		margin-top: 5*$i+px;}}

@for $i from 0 through 30 {
	.m-b-#{5*$i} { 
		margin-bottom: 5*$i+px;}}

@for $i from 0 through 30 {
	.m-l-#{5*$i} { 
		margin-left: 5*$i+px;}}

@for $i from 0 through 30 {
	.m-r-#{5*$i}) { 
		margin-right: 5*$i+px;}}




//--------------------Parag-MARGIN
@for $i from 0 through 12 {
	.parag-m-t-#{5*$i} { 
		p{
			margin-top: 5*$i+px;
		}
	}
}
@for $i from 0 through 12 {
	.parag-m-b-#{5*$i} { 
		p{
			margin-bottom: 5*$i+px;
		}
	}
}

@for $i from 0 through 12 {
	.parag-m-l-#{5*$i} { 
		p{
			margin-left: 5*$i+px;
		}
	}
}
@for $i from 0 through 12 {
	.parag-m-r-#{5*$i} { 
		p{
			margin-right: 5*$i+px;
		}
	}
}



@for $i from 0 through 12 {
	.parag-m-h-#{5*$i} { 
		p{
			margin-left: 5*$i+px;
			margin-right: 5*$i+px;
		}
	}
}
@for $i from 0 through 12 {
	.parag-m-v-#{5*$i} { 
		p{
			margin-top: 5*$i+px;
			margin-bottom: 5*$i+px;
		}
	}
}


//------------------Parag-PADDING
@for $i from 0 through 12 {
	.parag-p-top-#{5*$i} { 
		p{
			padding-top: 5*$i+px;
		}
	}
}
@for $i from 0 through 12 {
	.parag-p-bottom-#{5*$i} { 
		p{
			padding-bottom: 5*$i+px;
		}
	}
}

@for $i from 0 through 12 {
	.parag-p-left-#{5*$i} { 
		p{
			padding-left: 5*$i+px;
		}
	}
}
@for $i from 0 through 12 {
	.parag-p-right-#{5*$i} { 
		p{
			padding-right: 5*$i+px;
		}
	}
}





.m-0{
	margin: 0;
	
}
.p-0{
	padding: 0;
}

//--------------------Figure-MARGIN
@for $i from 0 through 12 {
	.figure-m-t-#{5*$i} { 

		figure{
			margin-top: 5*$i+px;
		}
	 	
	}
}
@for $i from 0 through 12 {
	.figure-m-b-#{5*$i} { 
		figure{
			margin-bottom: 5*$i+px;
		}
	 	
	}
}

@for $i from 0 through 12 {
	.figure-m-l-#{5*$i} { 

		figure{
			margin-left: 5*$i+px;
		}
	 	
	}
}
@for $i from 0 through 12 {
	.figure-m-r-#{5*$i} { 
	figure{
			margin-right: 5*$i+px;
		}
	 	
	}
}

@for $i from 0 through 12 {
	.figure-m-t-#{5*$i} { 

		figure{
			margin-top: 5*$i+px;
		}
	 	
	}
}
@for $i from 0 through 12 {
	.figure-m-b-#{5*$i} { 
	figure{
			margin-bottom: 5*$i+px;
		}
	 	
	}
}

@for $i from 0 through 12 {
	.figure-m-v-#{5*$i} { 

		figure{
			margin-top: 5*$i+px;
			margin-bottom: 5*$i+px;
		}
	 	
	}
}
@for $i from 0 through 12 {
	.figure-m-h-#{5*$i} { 
	figure{
			margin-left: 5*$i+px;
			margin-right: 5*$i+px;
		}
	 	
	}
}






.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}

.align-center-impt{
	text-align: center !important;
}
.align-left-impt{
	text-align: left !important;
}
.align-right-impt{
	text-align: right !important;
}




.float-center{
	float: center;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}




@for $i from 0 through 9 {
	.font-w-#{100*$i} { 
		font-weight: 100*$i;
	}
}
.font-w-bold{
	font-weight: bold;
}
.font-w-bolded{
	font-weight: bolder;
}




.display-block{
	display: block;
}
.display-none{
	display: none;
}



.bg-center{
	background-position: center center;
}


.text-uppercase{
	text-transform: uppercase;
}
.text-capitalize{
	text-transform: capitalize;
}
.text-lowercase{
	text-transform: lowercase;
}
.text-none{
	text-transform: none;
}