 
@import "_normalize.scss";
@import "_fonts.scss";
@import "_font-awesome.scss";
@import "_animate.scss";
@import "_bootstrap.scss";
@import "_aos.scss";
@import "_flickity.scss";
//@import "_fractionslider.scss";
@import "_helper.scss";
@import "_fancybox.scss";
@import "_style.scss";
